h1 {
    text-align: center;
    text-decoration: orange underline wavy;
    letter-spacing: 10px;
    font-size: 40px;
    font-family: Segoe UI, Futura, sans-serif;
}

p {
    line-height: 2;
}

a {
    text-decoration: none;
}